#contenedor-cabecera{
	background-image: url("../img/fondo_cabecera.jpg");
	background-repeat: no-repeat;
	padding-top: 20px;
}

.cabecera-principal #logo{
	width: 30%;
	display: block;
	padding-bottom: 10px;
	transition: width 2s;
	-o-transition: width 2s;
	-moz-transition: width 2s;
	-webkit-transition: width 2s;
}

a{
	text-decoration: none;
	color: #781a26;
}

a:hover{
	color: #666666;
}

/*Codigo para resetear las flotaciones que hayan a izquierda o derecha*/
.clear{
	clear: both;
}

/*.cabecera-principal .nav-principal{
	background: #882433;
	height: 40px;
	border: 1px #c13046 solid;
}

.cabecera-principal .nav-principal ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.cabecera-principal .nav-principal li{
	color: #fff;
	display: inline;
	float: left;
	margin-right: 3px;
}

.cabecera-principal .nav-principal li a{
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	height: 20px;
}

.cabecera-principal .nav-principal li a:hover, .cabecera-principal .nav-principal li a:active{
	background: #85b34b;
	color: #000;
	border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}*/
