body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

footer{
	background: #333;
	color: #fff;
	padding: 30px 0 20px 0;	
}

footer p{
	float: left;
}

	  


      

/* MEDIA QUERIES - RESPONSIVE*/
/*Estilos para smartphone
@media only screen and (max-width: 768px){
  .grid1 {
        display: grid;
        grid-template-areas:
          'video'
          'col11 col12'
          'col21 col22'
          'col31 col32';        
        width: 98%;
      }

      .grid1 > div {        
        width: 98%;
      }
    
  }

  
}
Estilos para Tablet
@media only screen and (min-width: 768px) and (max-width: 990px){
  .grid1 {
        display: grid;
        grid-template-areas:
          'video'
          'col11'
          'col12'
          'col21'
          'col22'
          'col31'
          'col32';        
        width: 98%;
      }

      .grid1 > div { 
        width: 98%;
      }  
}*/
